---
title: Portfolio
---
{% include header.html %}

    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZnJpZ2lkbGlnaHQiLCJhIjoiczg4X2VuYyJ9.yMtOhBeGB6hsQ5PogQT-_A';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/outdoors-v10', //stylesheet location
        center: [-74.50, 40], // starting position
        zoom: 9 // starting zoom
    });
    </script>

    <div class="row" style="margin-top:5%">
      <div class="twelve columns">
        <h4>Portfolio Images Here</h4>
        <ul>
          {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {{ post.excerpt }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
