---
title: Portfolio
---
{% include header.html %}
    <div class="row">
      <div class="twelve columns" id="portfolio-header">
        <h4>{{ page.title }}</h4>
        <p>{{ page.description }}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns" id="portfolio-image">
        <img src="{{site.url}}{{ site.baseurl }}/images/{{page.image}}">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns" id="meta">
        <p>Keywords:
          {% for tag in page.tags %}
            {{ tag }}
          {% endfor %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns" id="portfolio-map">
      </div>
      <script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZnJpZ2lkbGlnaHQiLCJhIjoiczg4X2VuYyJ9.yMtOhBeGB6hsQ5PogQT-_A';

var map = new mapboxgl.Map({
    container: 'portfolio-map',
    style: 'mapbox://styles/mapbox/outdoors-v10',
    center: [{{ page.longitude }}, {{ page.latitude }}], // starting position
    zoom: 12 // starting zoom
});

map.on('load', () => {
    map.loadImage('{{ site.baseurl }}/images/marker-15.png', (error, image) => {
        if (error) throw error;
        map.addImage('marker', image);
        map.addLayer({
            "id": "points",
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": [{
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": [{{ page.longitude }}, {{ page.latitude }}]
                        }
                    }]
                }
            },
            "layout": {
                "icon-image": "marker",
                "icon-size": .5
            }
        });
    });
});

</script>
    </div>
{% include footer.html %}
